:root { 
    --accent: #ffbd15; 
    --bg: #ffbd15; 
    --surface: #141414; 
}

/* Base */
body { 
    background: var(--bg); 
    color: #fff;
    font-family: 'Segoe UI', sans-serif; 
    margin: 0; 
    width: 100%; 
    overflow-x: hidden; /* Evita scroll horizontal innecesario */
}

/* Navbar: Ajustado al 100% para evitar el vacío a la derecha */
.navbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 25px; 
    background-image: url(https://raw.githubusercontent.com/venearci10/halkin10/refs/heads/main/s3.jpg);
    height: 155px;
    width: 100%; 
    box-sizing: border-box;
}

.username-text { 
    font-size: 0.9rem; 
    font-weight: 400; 
    color: #fff; 
    margin-right: 20px; 
}

.username-img {
    border-radius: 50%;
    width: 60px;
    background:#fff;
}

.user-info {
    display: flex;
    align-items: center;
}

.btn-logout { 
    background: #642119;
    border: 3px solid #ffbd15; 
    color: #fff; 
    padding: 6px 14px; 
    border-radius: 20px;
    font-size: 0.8rem; 
    cursor: pointer;
    transition: 0.3s; 
}

.btn-logout:hover {
    background: #e50914; 
    color: white; 
    border-color: #e50914; 
}

/* Grid: Ajustado para llenar el espacio */
#contentGrid { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 20px; 
    padding: 20px; 
    background: #ffbd15;
    width: 100%;
    box-sizing: border-box;
}

.video-card { 
    background: #642119; 
    border-radius: 16px; 
    padding: 12px;
    border: 1px solid #222; 
    cursor: pointer;
    transition: 0.3s;
}

.video-card:hover { 
    transform: scale(1.03); 
}

.video-card img { 
    width: 100%;
    border-radius: 12px; 
}

.video-card h3 { 
    font-size: 0.9rem;
    margin: 10px 0 0 0; 
}

/* Reproductor */
.video-js {
    width: 100% !important;
    height: auto !important;
    aspect-ratio: 16 / 9;
}

#videoContainer {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    background: #642119;
    align-items: center;
}

/* Login / Auth */
.overlay { 
    position: fixed; 
    inset: 0; 
    background: var(--bg); 
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1000; 
}

.auth-box { 
    background: #ffbd15; 
    padding: 30px; 
    border-radius: 12px; 
    width: 80%; 
    max-width: 350px; 
    margin: 50px auto; 
    text-align: center;
    border: 2px solid #fff;
}

.login-logo { 
    max-width: 150px;
    border-radius: 50%; 
    border: 2px solid var(--accent); 
    margin-bottom: 20px; 
}

input { 
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border-radius: 4px;
    border: none; 
    box-sizing: border-box; 
}

button { 
    width: 100%;
    padding: 10px;
    background: #642119; 
    border: 1px solid #fff; 
    color: white; 
    cursor: pointer; 
    border-radius: 4px; 
}

/* Utilitarios */
.hidden { 
    display: none !important; 
}

